<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="WarZLocal_Admin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <WarZLocal_Admin.Properties.Settings>
            <setting name="dataFolder" serializeAs="String">
                <value>D:\Server\Open-WarZ\source\bin\Data</value>
            </setting>
            <setting name="itemsDBFile" serializeAs="String">
                <value>D:\Server\Open-WarZ\source\bin\Data\Weapons\itemsDB.xml	</value>
            </setting>
            <setting name="shopDBFile" serializeAs="String">
                <value>D:\Server\Open-WarZ\source\bin\Data\Weapons\shopDB.xml	</value>
            </setting>
        </WarZLocal_Admin.Properties.Settings>
    </userSettings>
</configuration>
